@charset "UTF-8";

* {
	margin:0;
	padding:0;
}	
body {
	background: #222222;
}
#box{
	margin    : auto;
	margin-top: 200px;
	width     : 560px;
	border-radius: 15px;
	border: 2px solid gray;
	color : white;
}
h4{
	text-align  : center;
	margin-left : 35px;
	margin-top  : 10px;
	font-size   : 25px;
	color: white;
}

#btn_register, #btn_list{
	margin-top: 25px;
}

#id_msg{
	margin-left: 10px;
	display    : inline-block;
	font-size  : 10.6px; 
	width      : 200px;
}

#insert_box{
	margin     : auto;
	margin-top : 20px;
	width      : 500px;
	background-color: #222222;
}