/.metadata/
/Servers/
*.classpath
.project
.settings/
.buildpath
*.class
*.log
*.ctxt
/local.properties
/.idea/workspace.xml
/build
.externalVativBuild
.loadpath
.recommenders
*.launch
.target
.tern-project
.texlipse
.recommenders/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar