@charset "UTF-8";


* {
	margin:0px;
	padding:0px;
}
body {
	background: #222222;
}
#box {
	width: 800px;
	margin: auto;
	margin-top: 100px;	
	
}
#subject {
	box-shadow: 1px 1px 2px black;
	border: 2px solid #cccccc;
	padding: 5px;
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: bold;
	background-color: white;
}

#content {
	box-shadow: 1px 1px 2px black;
	border: 2px solid #cccccc;
	padding: 5px;
	margin-bottom: 15px;
	min-height: 100px;
	font-size: 18px;
	overflow-wrap: break-word; 
	background-color: white;
}

#regdate {
	box-shadow: 1px 1px 2px black;
	border: 2px solid #cccccc;
	padding: 5px;
	margin-bottom: 15px;
	background-color: white;
}

#btn {
	float: right;
}

.badge {
	height: 20px;
	font-size: 13px;
}

#c_content {
	resize: none;
	width: 78%;
	height:	80px;
	float: left;
}

textarea:focus {
	outline:none;
}

#btn_comment {
	width: 20%;
	height: 80px;
	float: left;
}

#disp {
	clear: both;
	color:white;
}
